<div class="container job-margin-top">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-10">
        <h1>Employement</h1>
          <p>Working From Pinky Girl
            Some of the existing ladies have never worked in the industry and there are some who have worked in other parlours, but prefer to work from The Pinky Girls . They love the friendly atmosphere and the experienced manageress’s who look after them. They also benefit from the busy shifts that enable them to earn the money they need.

            The majority of ladies enjoy working from Pinky Girl premises and some enjoy becoming an Auckland Escort and specialising in outcalls.

            Many women worry about what they look like, what to wear, how to apply their makeup or think they may not be good enough to work. PLEASE let us be the judge of that. We will help you with everything including your clothes, hair and makeup.

            This is a chance to work in stylish surrounding with lovely people, work hours to suit you and earn great money while you are enjoying yourself. Just pick up the phone and have a chat with Lyn. She will answer any questions you may have and arrange an interview for you at your convenience.



            No experience is necessary. We offer full training and ongoing care. Don't be scared we pride ourselves on being the friendliest place in town. We will look after you and make sure your transition into this exciting industry is a smooth and happy one!!!

            There has never been cameras in the rooms at Pinky Girls.
            </p>

        <ul>
            <li>Employment</li>
             <li>Drivers</li>
              <li>Manageress</li>
               <li>Long term</li>
             <li>Telephonist</li>
        </ul>
        <h2>contact</h2>
        <p><a href="mailto:yummymy336@gmail.com">yummymy336@gmail.com</a></p>
        <p>PINKY GIRL  HAVE ACCOMMODATION AVAILABLE,  PLEASE CALL US FOR MORE INFORMATION

        - CHOOSE YOUR OWN HOURS

        The Pinky girl employs at 0<%= @shop.phone %> and we will happily advise you of any vacancies.
        </p>
        <h3>phone</h3>
          <h3>0<%= @shop.phone %></h3>
        <h3>address</h3>
          <address>
            <%= @shop.address %>
          </address>
            <div   id="map"
              style="width: 100%;
              height: 480px;
              border-radius: 20px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX'] %>"
            ></div>
        <h3>wechat</h3>
        <%= render :partial =>  'wechat' %>
    </div>
  </div>
</div>
