<div class="container job-margin-top">
  <div class="row">
    <div class="col-xs-12 col-md-offset-2 col-md-10">
        <h1>Employement</h1>
          <p>Working From The Pelican Club


***WE NOW HAVE ACCOMMODATION AVAILABLE, SHORT OR LONG TERM  PLEASE CALL US FOR MORE INFORMATION***

WE DONT MIND HOW MANY SHIFTS YOU DO

CHOOSE YOUR OWN HOURS

The Pelican Club employs a large number of permanent staff to keep the business running smoothly and in a professional manner. If you think you have what it takes to join our friendly team, Please call us on   (09) 3580900 and we will happily advise you of any vacancies.


Ladies who work from The Pelican Club come from all walks of life. They range in age from 18 to 50, are all shapes and sizes and many nationalities. They are all lovely people who have between 1-5 days or nights per week available to work.



Some of the existing ladies have never worked in the industry and there are some who have worked in other parlours, but prefer to work from The Pelican Club. They love the friendly atmosphere and the experienced manageress’s who look after them. They also benefit from the busy shifts that enable them to earn the money they need.



The majority of ladies enjoy working from The Pelican Club premises and some enjoy becoming an Auckland Escort and specialising in outcalls.



There are mothers who have previously struggled to support their children who now find themselves living in nice houses, free of debt, taking holidays and being able to spend more time with their children. There are students who earn enough from one day or night per week to finance their studies. Some ladies work full time in other industries but need extra money to cover the bills. Many women work several times per week at The Pelican Club and some only work once or twice per week. Whatever your circumstances you can pick the days or nights that suit your situation. Open 365 days a year.



Many women worry about what they look like, what to wear, how to apply their makeup or think they may not be good enough to work. PLEASE let us be the judge of that. We will help you with everything including your clothes, hair and makeup.



This is a chance to work in stylish surrounding with lovely people, work hours to suit you and earn great money while you are enjoying yourself. Just pick up the phone and have a chat with Lyn. She will answer any questions you may have and arrange an interview for you at your convenience.



No experience is necessary. We offer full training and ongoing care. Don't be scared we pride ourselves on being the friendliest place in town. We will look after you and make sure your transition into this exciting industry is a smooth and happy one!!!

***WE NOW HAVE ACCOMMODATION AVAILABLE, SHORT OR LONG TERM  PLEASE CALL US FOR MORE INFORMATION***

Employment
Drivers
Long term
Security
Long term
Manageress
Long term
Telephonist
Long term
Office Staff
Long term
Maitre d'
Long term
Bar Staff
Long term
Cleaners
Short and Long term
ATTENTION
There has never been cameras in the rooms at The Pelican Club.
There are no bonds at The Pelican Club.</p>
        <h2>contact</h2>
        <p><a href="mailto:yummymy336@gmail.com">yummymy336@gmail.com</a></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>phone</h3>
          <%= @shop.phone %>
        <h3>address</h3>
          <address>
            <%= @shop.address %>
          </address>
            <div   id="map"
              style="width: 100%;
              height: 480px;
              border-radius: 20px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX'] %>"
            ></div>
        <h3>wechat</h3>
        <%= render :partial =>  'wechat' %>
    </div>
  </div>
</div>
