<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1 class="text-center"><%= @shop.title %></h1>
          <h2 class="text-center"><%= @shop.address %></h2>
          <h3 class="text-center">phone: <%= @shop.phone %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
                 url('<%= cl_image_path 'https://res.cloudinary.com/pinky-girls/image/upload/v1549750983/samples/food/spices.jpg', height: 300, width: 400, crop: :fit %>')">
          <div class="card-category">Popular</div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>

      <p class="text-center">

            <%= @shop.description %>
        </p>
        <%= link_to "index girls", girls_index_path %>
    </div>
  </div>
</div>





