     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse" >
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <!-- <a href="index.html" class="navbar-brand">Eatery <span>.</span> Cafe</a> -->
                    <%= link_to "/", class: "navbar-brand" do %>
                        <%= image_tag "pinkygirls.png", class: "logo-position" %>
                    <% end %>
               </div>

               <!-- MENU LINKS -->
               <div class="" id="">
                    <ul class="nav navbar-nav">
                      <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
                      <% if user_signed_in? %>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
                      <% end %>
                         <li><a href="#home" data-target=".in" class="smoothScroll">Home</a></li>
                         <li><a href="#about" data-target=".in" class="smoothScroll">About</a></li>
                         <li><a href="#team" data-target=".in" class="smoothScroll">Chef</a></li>
                         <!-- <li><a href="#menu"  data-target=".in" class="smoothScroll">Girls</a></li> -->
                         <% if user_signed_in? %>
                           <%= link_to t(".sign_in", default: "Login"), new_user_session_path %>
                         <% else %>
                         <li><%= link_to "girls", shop_girls_path(@shop) %></li>
                         <% end %>
                         <li><a href="#contact" data-target=".in" class="smoothScroll">Contact</a></li>
                         <%= link_to "Sign in ", new_user_session_path %>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#">Call Now! <i class="fa fa-phone"></i> <%= @shop.phone  %></a></li>

                         <a href="#footer" class="section-btn">Reserve a table</a>
                    </ul>
               </div>

          </div>
     </section>
