<section id="home" class="slider" data-stellar-background-ratio="0.5">
  <div class="owl-carousel owl-theme">
     <div class="item " style="background-image:url(<%= cl_image_path @girl.photo_one %>);">
          <div class="caption">
               <div class="container">
                    <div class="col-md-8 col-sm-12">
                         <h3>Eatery Cafe &amp; Restaurant</h3>
                         <h1>Our mission is to provide an unforgettable experience</h1>
                         <a href="#team" class="section-btn btn btn-default smoothScroll">Meet our chef</a>
                    </div>
               </div>
          </div>
     </div>

     <div class="item " style="background-image:url(<%= cl_image_path @girl.photo_two ,gravity: :face%>);">
          <div class="caption">
               <div class="container">
                    <div class="col-md-8 col-sm-12">
                         <h3>Your Perfect Breakfast</h3>
                         <h1>The best dinning quality can be here too!</h1>
                         <a href="#menu" class="section-btn btn btn-default smoothScroll">Discover menu</a>
                    </div>
               </div>
          </div>
     </div>

     <div class="item " style="background-image:url(<%= cl_image_path @girl.photo_three, gravity: :face %>);">
          <div class="caption">
               <div class="container">
                    <div class="col-md-8 col-sm-12">
                         <h3>New Restaurant in Town</h3>
                         <h1>Enjoy our special menus every Sunday and Friday</h1>
                         <a href="#contact" class="section-btn btn btn-default smoothScroll">Reservation</a>
                    </div>
               </div>
          </div>
     </div>
  </div>
</section>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h3><%= @girl.phone %></h3>
    <div class="btn btn-success" target="_blank" onclick="window.open('https://www.google.com/maps/dir/Current+Location/336+New+North+Rd+Auckland', '_blank')">
    map
    </div>
  </div>
              <!-- <div   id="map"
                              style="width: 100%;
                              height: 480px;
                              border-radius: 20px;"
                              data-markers="<%= @markers.to_json %>"
                              data-mapbox-api-key="<%= ENV['MAPBOX'] %>"
                            ></div>
            </div> -->

</div>
    <!-- <script>
    function drive() {
      var daddr = window.location.search.slice(1);
      debugger;
      if(daddr){
       window.location = "https://www.google.com/maps/dir/?api=1&origin=<%= @girl.shop.longitude %>,<%= @girl.shop.latitude %>&destination="+ daddr +"&travelmode=driving";
      }
    }
    </script>
    https://www.google.com/maps/dir/?api=1&origin=<%= @girl.shop.latitude %>,<%= @girl.shop.longitude %>&destination=${daddr}&travelmode=driving
 -->
   <!-- <script>
    var daddr = window.location.search.slice(1);
    console.log(daddr);
    var lat = <%= @girl.shop.latitude %>
    console.log(lat);
    var long = <%= @girl.shop.longitude %>
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(data){
        if (data.coord) {
                var lat = <%= @girl.shop.latitude %>
          console.log(lat);
          var long = <%= @girl.shop.longitude %>
          window.location = `https://maps.google.fr/maps?saddr=${addr}&daddr=${lat},${long}` ;
        }
      });
    }
  </script> -->
<section id="menu" data-stellar-background-ratio="0.5">

          <div class="main-container">

               <div class="row">


                    <div class="col-md-12 col-sm-12">
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>Our Girls</h2>
                              <h4>Sweet &amp; Lovely</h4>
                         </div>
                    </div>

                    <div class="col-xs-12 col-md-5 col-sm-4" id="profile">

                      <p><%= @girl.description %></p>
                       <p><%= @girl.origin %></p>
                       <p><%= @girl.service %></p>
                       <p><%= @girl.size %></p>
                       <p><%= @girl.height  %></p>
                       <p> <%= @girl.weight %></p>
                       <p> <%= @girl.bust %></p>
                       <p> <%= @girl.hair %></p>
                    </div>







                  <div class="max">




                    <div class="col-md-4 col-sm-6 ">
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">

                              <a href=<%= cl_image_path @girl.photo_one %> class="image-popup" title="American Breakfast">



                                   <%= cl_image_tag @girl.photo_one , class: "img-responsive" %>

                                   <div class="menu-info">
                                        <div class="menu-item">
                                             <h3>American Breakfast</h3>
                                             <p>Tomato / Eggs / Sausage</p>
                                        </div>
                                        <div class="menu-price">
                                             <span>$25</span>
                                        </div>
                                   </div>

                              </a>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">
                              <a href=<%= cl_image_path @girl.photo_two %> class="image-popup" title="Self-made Salad">

                                   <%= cl_image_tag @girl.photo_two, class: "img-responsive" %>


                                   <div class="menu-info">
                                        <div class="menu-item">
                                             <h3>Self-made Salad</h3>
                                             <p>Green / Fruits / Healthy</p>
                                        </div>
                                        <div class="menu-price">
                                             <span>$18</span>
                                        </div>
                                   </div>
                              </a>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">
                              <a href=<%= cl_image_path @girl.photo_three %> class="image-popup" title="Chinese Noodle">


                                   <%= cl_image_tag @girl.photo_three, class: "img-responsive" %>

                                   <div class="menu-info">
                                        <div class="menu-item">
                                             <h3>Chinese Noodle</h3>
                                             <p>Pepper / Chicken / Vegetables</p>
                                        </div>
                                        <div class="menu-price">
                                             <span>$34</span>
                                        </div>
                                   </div>
                              </a>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">
                              <a href=<%= cl_image_path @girl.photo_three %> class="image-popup" title="Rice Soup">

                                    <%= cl_image_tag @girl.photo_three, class: "img-responsive" %>

                                   <div class="menu-info">
                                        <div class="menu-item">
                                             <h3>Rice Soup</h3>
                                             <p>Green / Chicken</p>
                                        </div>
                                        <div class="menu-price">
                                             <span>$28</span>
                                        </div>
                                   </div>
                              </a>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6" style="margin-left: 400px;">
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">
                              <a href=<%=  cl_image_path @girl.photo_three  %> class="image-popup" title="Project title">

                                   <%= cl_image_tag @girl.photo_three, class: "img-responsive" %>

                                   <div class="menu-info">
                                        <div class="menu-item">
                                             <h3>Deli Burger</h3>
                                             <p>Beef / Fried Potatoes</p>
                                        </div>
                                        <div class="menu-price">
                                             <span>$46</span>
                                        </div>
                                   </div>
                              </a>
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-6 ">
                         <!-- MENU THUMB -->
                         <div class="menu-thumb">
                              <a href=<%= cl_image_path @girl.photo_three %> class="image-popup" title="Project title">
                                   <%= cl_image_tag @girl.photo_three, class: "img-responsive" %>
                                   <div class="menu-info">
                                        <div class="menu-item">
                                             <h3>Big Flat Fried</h3>
                                             <p>Pepper / Crispy</p>
                                        </div>
                                        <div class="menu-price">
                                             <span>$30</span>
                                        </div>
                                   </div>
                              </a>
                         </div>
                    </div>
                   </div>
                    <%= render "advertises/index" %>

                    </div>

               </div>

          </div>
     </section>


