<% content_for :meta_title, "#{@girl.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @girl.description %>
<% content_for :meta_image, cl_image_path(@girl.photo_one.url) %>
<!-- PRE LOADER -->
<section class="preloader">
  <div class="spinner">
    <span class="spinner-rotate"></span>
  </div>
</section>
<section id="home" class="slider" data-stellar-background-ratio="0.5">
  <div class="owl-carousel owl-theme">
    <div class="item " style="background-image:url(<%= cl_image_path @girl.photo_one, width: 400, :effect=>'blur_faces' %>);">
      <div class="caption">
        <div class="container">
          <div class="col-md-8 col-sm-12">
            <h3><%= t(".owl-1") %></h3>
            <h1><%= t(".owl-2") %></h1>
            <a href="#team" class="section-btn btn btn-default smoothScroll"><%= t(".owl-3") %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="item "  style="background-image:url(<%= cl_image_path @girl.photo_two ,gravity: :face , :effect=>'blur_faces' %>);">
      <div class="caption">
        <div class="container">
          <div class="col-md-8 col-sm-12">
            <h3><%= t(".owl-4") %></h3>
            <h1><%= t(".owl-5") %></h1>
            <a href="#menu" class="section-btn btn btn-default smoothScroll"><%= t(".owl-6") %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="item " style="background-image:url(<%= cl_image_path @girl.photo_three, gravity: :face, :effect=>'blur_faces' %>);">
      <div class="caption">
        <div class="container">
          <div class="col-md-8 col-sm-12">
            <h3><%= t(".owl-7") %></h3>
            <h1><%= t(".owl-8") %></h1>
            <a href="#contact" class="section-btn btn btn-default smoothScroll"><%= t(".owl-9") %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row pad-top">
    <div class="wave wave-girl"></div>
    <div class="col-xs-12 col-md-offset-1 col-md-4 text-center space-right up-component">
      <i class="fas fa-mobile fa-5x block-icon" ></i>
      <a class="btn btn-primary" href="tel:+<%= @girl.phone %>">
        <%= @girl.phone %>
      </a>
    </div>
    <div class="col-xs-12 col-md-4  text-center mobile-space-top up-component">
      <div  target="_blank" onclick="window.open('https://www.google.com/maps/dir/Current+Location/336+New+North+Rd+Auckland', '_blank')">
        <i class="fas fa-map-marked-alt fa-5x block-icon"></i>
        <div class="btn btn-primary">
          <p class="addr-btn"><%= @girl.shop.address %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div   id="map"
    style="width: 100%;
    height: 480px;
    border-radius: 20px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX'] %>"
  ></div>
</div> -->
</div>
<!-- <script>
function drive() {
var daddr = window.location.search.slice(1);
debugger;
if(daddr){
window.location = "https://www.google.com/maps/dir/?api=1&origin=<%= @girl.shop.longitude %>,<%= @girl.shop.latitude %>&destination="+ daddr +"&travelmode=driving";
}
}
</script>
https://www.google.com/maps/dir/?api=1&origin=<%= @girl.shop.latitude %>,<%= @girl.shop.longitude %>&destination=${daddr}&travelmode=driving
-->
<!-- <script>
var daddr = window.location.search.slice(1);
console.log(daddr);
var lat = <%= @girl.shop.latitude %>
console.log(lat);
var long = <%= @girl.shop.longitude %>
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(function(data){
if (data.coord) {
var lat = <%= @girl.shop.latitude %>
console.log(lat);
var long = <%= @girl.shop.longitude %>
window.location = `https://maps.google.fr/maps?saddr=${addr}&daddr=${lat},${long}` ;
}
});
}
</script> -->
<div class="container">
<div class="row">
  <div class="col-xs-offset-2 col-xs-4 mobile-space-top col-md-offset-1 col-md-1 up-component">
    <%= link_to t(".prev"), shop_girl_prev_path(@shop, @girl), class: "btn btn-danger " %>
  </div>
  <div class=" col-xs-5 mobile-space-top col-md-offset-8 col-md-1 up-component">
    <%= link_to  t(".next"), shop_girl_next_path(@shop, @girl), class: "btn btn-success  " %>
  </div>
</div>
<!-- <div class="row">
  <div class="col-xs-offset-5 col-xs-12 col-md-1 col-md-offset-5 up-component">
    <%= link_to t(".girls"), shop_girls_path(@shop), class: "btn btn-primary " %>
  </div>
</div> -->
<section id="menu" data-stellar-background-ratio="0.5">
  <div class="main-container">
    <div class="row mobile-size">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h2><%= t(".title-show") %></h2>
          <h2><%= @girl.name %></h2>
          <h4><%= t(".punch") %></h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-sm-4" id="profile">
        <p><%= @girl.description %></p>
        <p><%= t(".origin") if @girl.origin.present? %> <%= @girl.origin %></p>
        <p><%= t(".service") if @girl.service.present? %> <%= @girl.service %></p>
        <p><%= t(".size") if @girl.size.present? %> <%= @girl.size %></p>
        <p><%= t(".height") if  @girl.height.present? %> <%= @girl.height  %></p>
        <p><%= t(".weight") if @girl.weight.present? %> <%= @girl.weight %></p>
        <p><%= t(".bust") if @girl.bust.present? %> <%= @girl.bust %></p>
        <p><%= t(".hair") if  @girl.hair.present?%> <%= @girl.hair %></p>


      </div>
      <div class="max">
        <% if @girl.photo_four.present? %>
        <div class="col-md-4 col-sm-6 ">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= cl_image_path @girl.photo_four, :effect=>'blur_faces' %>'class="image-popup" title="American Breakfast">
              <%= cl_image_tag @girl.photo_four, :effect=>"blur_faces" , class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-1") %></h3>
                  <p>T<%= t(".menu-2") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-3") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_five.present? %>
        <div class="col-md-4 col-sm-6">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= cl_image_path @girl.photo_five, :effect=>'blur_faces' %>' class="image-popup" title="Self-made Salad">
              <%= cl_image_tag @girl.photo_five, :effect=>"blur_faces", class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-4") %></h3>
                  <p><%= t(".menu-5") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-6") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_six.present? %>
        <div class="col-md-4 col-sm-6">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= cl_image_path @girl.photo_six, :effect=>'blur_faces' %>' class="image-popup" title="Chinese Noodle">
              <%= cl_image_tag @girl.photo_six, :effect=>"blur_faces", class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-7") %></h3>
                  <p><%= t(".menu-8") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-9") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_seven.present? %>
        <div class="col-md-4 col-sm-6">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= cl_image_path @girl.photo_seven, :effect=>'blur_faces' %>' class="image-popup" title="Rice Soup">
              <%= cl_image_tag @girl.photo_seven, :effect=>"blur_faces", class: "img-responsive", width: 500, height: 600, crop: :fill  %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-10") %></h3>
                  <p><%= t(".menu-11") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-12") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_eight.present? %>
        <div class="col-md-4 col-sm-6" style="margin-left: 350px;">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%=  cl_image_path @girl.photo_eight, :effect=>'blur_faces' %>' class="image-popup" title="Project title">
              <%= cl_image_tag @girl.photo_eight, :effect=>"blur_faces", class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-13") %></h3>
                  <p><%= t(".menu-14") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-15") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_nine.present? %>
        <div class="col-md-4 col-sm-6 " >
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= cl_image_path @girl.photo_nine, :effect=>'blur_faces' %>'class="image-popup" title="Project title">
              <%= cl_image_tag @girl.photo_nine, :effect=>"blur_faces", class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-16") %></h3>
                  <p><%= t(".menu-17") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-18") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
      </div>
      <%= render "advertises/index" %>
    </div>
  </div>
</div>
</section>
</div>
