<% content_for :meta_title, "#{@girl.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @girl.description %>
<% content_for :meta_image, image_url(@girl.photo_one.url) %>
<!-- PRE LOADER -->
<!-- <section class="preloader">
  <div class="spinner">
    <span class="spinner-rotate"></span>
  </div>
</section> -->
<% cache @girl do %>
<section id="home" class="slider" data-stellar-background-ratio="0.5">
  <div class="owl-carousel owl-theme">
    <div class="item " style="background-image:url(<%= image_url @girl.photo_one.url, width: 400 %>);">
      <div class="caption">
        <div class="container">
          <div class="col-md-8 col-sm-12">
            <h3><%= t(".owl-1") %></h3>
            <h1><%= t(".owl-2") %></h1>
            <a href="#team" class="section-btn btn btn-default smoothScroll"><%= t(".owl-3") %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="item "  style="background-image:url(<%= image_url @girl.photo_two.url ,gravity: :face  %>);">
      <div class="caption">
        <div class="container">
          <div class="col-md-8 col-sm-12">
            <h3><%= t(".owl-4") %></h3>
            <h1><%= t(".owl-5") %></h1>
            <a href="#menu" class="section-btn btn btn-default smoothScroll"><%= t(".owl-6") %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="item " style="background-image:url(<%= image_url @girl.photo_three.url, gravity: :face %>);">
      <div class="caption">
        <div class="container">
          <div class="col-md-8 col-sm-12">
            <h3><%= t(".owl-7") %></h3>
            <h1><%= t(".owl-8") %></h1>
            <a href="#contact" class="section-btn btn btn-default smoothScroll"><%= t(".owl-9") %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row pad-top">
    <div class="wave wave-girl safari_only"></div>
    <div class="col-xs-12 col-md-offset-1 col-md-4 text-center space-right up-component">
      <i class="fas fa-mobile fa-5x block-icon" ></i>
      <a class="btn btn-primary" href="tel:+64<%= @girl.phone %>">
        0<%= @girl.phone %>
      </a>
    </div>
    <div class="col-xs-12 col-md-4  text-center mobile-space-top up-component">
      <div  target="_blank" onclick="window.open('https://www.google.com/maps/dir/Current+Location/336+New+North+Rd+Auckland', '_blank')" >
        <i class="fas fa-map-marked-alt fa-5x block-icon"></i>
        <div class="btn btn-primary">
          <p class="addr-btn"><%= @girl.shop.address %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div   id="map"
    style="width: 100%;
    height: 480px;
    border-radius: 20px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX'] %>"
  ></div>
</div> -->
</div>

<div class="container">
<div class="row">
  <div class="col-xs-offset-2 col-xs-4 mobile-space-top col-md-offset-1 col-md-1 up-component">
    <%= link_to t(".prev"), shop_girl_prev_path(@shop, @girl), class: "btn btn-danger " %>
  </div>
  <div class=" col-xs-5 mobile-space-top col-md-offset-8 col-md-1 up-component">
    <%= link_to  t(".next"), shop_girl_next_path(@shop, @girl), class: "btn btn-success  " %>
  </div>
</div>
<section id="menu" data-stellar-background-ratio="0.5">
  <div class="main-container">
    <div class="row mobile-size">
      <div class="col-md-12 col-sm-12">
        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
          <h2><%= t(".title-show") %></h2>
          <h2><%= @girl.name %></h2>
          <h4><%= t(".punch") %></h4>
        </div>
      </div>
      <div class="col-xs-12 col-md-5 col-sm-4" id="profile">
        <p><%= @girl.description %></p>
        <p><%= t(".origin") if @girl.origin.present? %> <%= @girl.origin %></p>
        <p><%= t(".service") if @girl.service.present? %> <%= @girl.service %></p>
        <p><%= t(".size") if @girl.size.present? %> <%= @girl.size %></p>
        <p><%= t(".height") if  @girl.height.present? %> <%= @girl.height  %></p>
        <p><%= t(".weight") if @girl.weight.present? %> <%= @girl.weight %></p>
        <p><%= t(".bust") if @girl.bust.present? %> <%= @girl.bust %></p>
        <p><%= t(".hair") if  @girl.hair.present?%> <%= @girl.hair %></p>
      </div>
      <div class="max">
        <% if @girl.photo_four.present? %>
        <div class="col-md-4 col-sm-6 ">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= image_url @girl.photo_four.url %>' class="image-popup" title="">
              <%= image_url @girl.photo_four.url , class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-1") %></h3>
                  <p>T<%= t(".menu-2") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-3") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_five.present? %>
        <div class="col-md-4 col-sm-6">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= image_url @girl.photo_five.url %>' class="image-popup" title="">
              <%= image_url @girl.photo_five.url, class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-4") %></h3>
                  <p><%= t(".menu-5") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-6") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_six.present? %>
        <div class="col-md-4 col-sm-6">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= image_url @girl.photo_six.url %>' class="image-popup" title="">
              <%= image_url @girl.photo_six.url, class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-7") %></h3>
                  <p><%= t(".menu-8") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-9") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_seven.present? %>
        <div class="col-md-4 col-sm-6">
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= image_url @girl.photo_seven.url %>' class="image-popup" title="">
              <%= image_url @girl.photo_seven.url, class: "img-responsive", width: 500, height: 600, crop: :fill  %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-10") %></h3>
                  <p><%= t(".menu-11") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-12") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_eight.present? %>
        <div class="col-md-4 col-sm-6 marge-picture" >
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%=  image_url @girl.photo_eight.url %>' class="image-popup" title="">
              <%= image_url @girl.photo_eight.url, class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-13") %></h3>
                  <p><%= t(".menu-14") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-15") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
        <% if @girl.photo_nine.present? %>
        <div class="col-md-4 col-sm-6 " >
          <!-- MENU THUMB -->
          <div class="menu-thumb">
            <a href='<%= image_url @girl.photo_nine.url %>'class="image-popup" title="">
              <%= image_url @girl.photo_nine.url, class: "img-responsive", width: 500, height: 600, crop: :fill %>
              <div class="menu-info">
                <div class="menu-item">
                  <h3><%= t(".menu-16") %></h3>
                  <p><%= t(".menu-17") %></p>
                </div>
                <div class="menu-price">
                  <span><%= t(".menu-18") %></span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <% end %>
      </div>
      <%= render "advertises/index" , locals: {pricing: @pricing}%>
    </div>
  </div>
</section>

<% end%>

<script>
  function myNavFunc(){
    // If it's an iPhone..
    if( (navigator.platform.indexOf("iPhone") != -1)
        || (navigator.platform.indexOf("iPod") != -1)
        || (navigator.platform.indexOf("iPad") != -1))
         window.open("maps.apple.com/?daddr=336+New+North+Rd+Aucklando&dirflg=d&t=h");

    else
         window.open('https://www.google.com/maps/dir/Current+Location/336+New+North+Rd+Auckland', '_blank');
  }
</script>
