<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N7TRPQD');</script>
    <!-- End Google Tag Manager -->


    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "NightClub",
        "image": [
          "https://www.pinkygirls.co.nz/<%= image_path 'girls.jpg' %>"
         ],
        "@id": "https://www.pinkygirls.co.nz/",
        "name": "Pinky Girls",
        "description": "Best Brothel in Auckland many gorgeous escorts available .",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "336 New North Rd",
          "addressLocality": "Auckland",
          "addressRegion": "Kingsland",
          "postalCode": "1021",
          "addressCountry": "NZ"
        },
        "geo": {
          "@type": "GeoCoordinates",
          "latitude": -36.8690526,
          "longitude": 174.7507902
        },
        "url": "https://www.pinkygirls.co.nz/",
        "telephone": "+0211255871",
        "openingHoursSpecification": [
          {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Sunday"
            ],
            "opens": "12:00",
            "closes": "06:00"
          }]
        },
      }
    </script>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'map' %>


    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7TRPQD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
     <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
        "@type": "ListItem",
        "position": 1,
        "name": "Brothel auckland",
        "item": "https://www.pinkygirls.co.nz/"
      },{
        "@type": "ListItem",
        "position": 1,
        "name": "job",
        "item": "https://www.pinkygirls.co.nz/brothel/auckland/job"
      },{
        "@type": "ListItem",
        "position": 1,
        "name": "wechat contact",
        "item": "https://www.pinkygirls.co.nz/brothel/auckland/wechat"
      },{
        "@type": "ListItem",
        "position": 2,
        "name": "Escorts auckland",
        "item": "https://www.pinkygirls.co.nz/brothel/auckland/escorts"
      },{
        "@type": "ListItem",
        "position": 3,
        "name": "Escorts auckland",
        "item": "https://www.pinkygirls.co.nz/brothel/auckland/escorts/asian"
      }]
    }
    </script>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' , defer: 'defer'  %>
    <%= javascript_pack_tag 'application', defer: 'defer'  %>
    <%= javascript_include_tag 'app/jquery.js' %>
    <%= javascript_include_tag 'app/jquery.magnific-popup.min.js', defer: 'defer'  %>
    <%= javascript_include_tag 'app/jquery.stellar.min.js', defer: 'defer'  %>
    <%= javascript_include_tag 'app/bootstrap.min.js', defer: 'defer'  %>
    <%= javascript_include_tag 'app/owl.carousel.min.js', defer: 'defer'  %>

    <%= javascript_include_tag 'app/smoothscroll.js', defer: 'defer'  %>
    <%= javascript_include_tag 'app/wow.min.js', defer: 'defer'  %>
    <%= javascript_include_tag 'app/custom.js', defer: 'defer'  %>
    <%= javascript_pack_tag 'map', defer: 'defer'  %>

    <%= render 'shared/analytics' %>


  </body>
</html>
