<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pinky girls</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= stylesheet_pack_tag 'map' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'app/jquery.js' %>
    <%= javascript_include_tag 'app/jquery.magnific-popup.min.js' %>
    <%= javascript_include_tag 'app/jquery.stellar.min.js' %>
    <%= javascript_include_tag 'app/bootstrap.min.js' %>
    <%= javascript_include_tag 'app/owl.carousel.min.js' %>

    <%= javascript_include_tag 'app/smoothscroll.js' %>
    <%= javascript_include_tag 'app/wow.min.js' %>
    <%= javascript_include_tag 'app/custom.js' %>
    <%= javascript_pack_tag 'map' %>


  </body>
</html>
